VirtualRadar.Library/Web References/webservice.virtualradarserver.co.uk/ClientSupport.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webservice.virtualradarserver.co.uk/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webservice.virtualradarserver.co.uk/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webservice.virtualradarserver.co.uk/">
      <s:element name="ExternalIpAddress">
        <s:complexType />
      </s:element>
      <s:element name="ExternalIpAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExternalIpAddressResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExternalIpAddressSoapIn">
    <wsdl:part name="parameters" element="tns:ExternalIpAddress" />
  </wsdl:message>
  <wsdl:message name="ExternalIpAddressSoapOut">
    <wsdl:part name="parameters" element="tns:ExternalIpAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientSupportSoap">
    <wsdl:operation name="ExternalIpAddress">
      <wsdl:input message="tns:ExternalIpAddressSoapIn" />
      <wsdl:output message="tns:ExternalIpAddressSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientSupportSoap" type="tns:ClientSupportSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExternalIpAddress">
      <soap:operation soapAction="http://webservice.virtualradarserver.co.uk/ExternalIpAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientSupportSoap12" type="tns:ClientSupportSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExternalIpAddress">
      <soap12:operation soapAction="http://webservice.virtualradarserver.co.uk/ExternalIpAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientSupport">
    <wsdl:port name="ClientSupportSoap" binding="tns:ClientSupportSoap">
      <soap:address location="http://webservice.virtualradarserver.co.uk/ClientSupport.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientSupportSoap12" binding="tns:ClientSupportSoap12">
      <soap12:address location="http://webservice.virtualradarserver.co.uk/ClientSupport.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>